.calc-button {
  cursor: pointer;
  background-color: burlywood;
  width: 75px;
  height: 75px;
  justify-content: center;
  padding: 10px;
  margin: 15px;
  border-radius: 50%;
  display: flex;
  border: 2px solid;
  border-color: brown;
}
.calc-button:hover {
  background-color: wheat;
}
