.expression {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 50px;
  justify-content: space-around;
  font-family: "Courier New", Courier, monospace;
}

.answer {
  position: relative;
  display: flex;
  flex-direction: row;
}
